* {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(255, 255, 255, 0.5);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #4f4963;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #4f4963;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid white;
}

#mode {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    background-color: rgba(255, 255, 255, 0.5);
}

#battery {
    background-color: rgba(255, 255, 255, 0.5);
}

#battery.charging {
    color: #13b075;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes blink {
    to {
        background-color: rgba(255, 255, 255, 0.5);
        color: red;
    }
}

#battery.warning:not(.charging) {
    background: rgba(255, 255, 255, 0.5);
    color: #4f4963;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: rgba(255, 255, 255, 0.5);
}

#memory {
    background: rgba(255, 255, 255, 0.5);
}

#network {
    background: rgba(255, 255, 255, 0.5);
}

#network.disconnected {
    background: rgba(255, 255, 255, 0.5);
    color: #b1a0ac;
}

#pulseaudio {
    background: rgba(255, 255, 255, 0.5);
}

#pulseaudio.muted {
    background: rgba(255, 255, 255, 0.5);
    color: #b1a0ac;
}

#custom-spotify {
    background: rgba(255, 255, 255, 0.5);
    color: #2a5c45;
}

#tray {
    background-color: rgba(255, 255, 255, 0.5);
}
